.partners {
  padding: 2*$margin 0;
  a {
    @include box-sizing();
    @include transition(opacity 0.2s linear 0s);
    @include opacity(0.25);
    line-height: 64px;
    padding: 0 $margin;
    &:hover {
      @include opacity(0.5);
    }
  }
}
.partners-bar {
  padding: 2*$margin 0 $margin 0;
}