.networks {
  color: $color-white;
  padding: 3*$margin 0;
  background: $color-gray-darkest image-url('bcg-discover.png') no-repeat scroll center -55px;
  background-size: 50% auto;
  p {
    padding: $margin 0 1.5*$margin;
    font-size: #{(18/$font-size-base)}rem;
  }
}