.btn {
  @include border-radius(3px);
  font-weight: $font-weight-bold;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: $color-white;
  text-transform: uppercase;
  &:focus {
    outline-style: none;
  }
}
.btn-transparent {
  border: 1px solid $color-white;
}
.btn-colorize {
  @include box-shadow(0 4px 4px 0 rgba($color-black,0.15));
  background-color: $color-brand; // Old browsers
  @include filter-gradient($color-brand, $color-brand-2, vertical); // IE6-9
  @include background-image(linear-gradient(top,  $color-brand 0%,$color-brand-2 100%));
  border: {
    style: solid;
    color: lighten($color-brand,10%) transparent $color-brand-2 transparent;
    width: 1px;
  }
}

.btn-social {
  display: inline-block;
  padding: 0.65*$margin 2*$margin;
  margin: 0 gutter(24);
  &.linkedin {
    background-color: $color-linkedin;
  }
  &.facebook {
    background-color: $color-facebook;
  }
}
