.tab-navbar {
  background-color: $color-gray;
  z-index: 1;
  position: relative;
}
.tabs {
  @include pie-clearfix();
  @include box-shadow(0 -24px 16px -16px rgba($color-black,0.2));
  @include border-radius(3px);
  border-bottom: 2px solid $color-brand-2;
  li {
    @include border-radius(3px 3px 0 0);
    @include box-sizing;
    border: none;
    background-color: $color-white;
    float: left;
    width: 50%;
    padding: $margin-half 0;
    &.active {
      @extend .btn-colorize;
      @include box-shadow(none);
      @include transform(scale(1,1.1));
      position: relative;
      top: -#{0.1*$margin-half};
      a {
        color: $color-white;
      }
    }
  }
  a {
    display: block;
    text-transform: uppercase;
    color: $color-gray-darken;
  }
}