.thumbnails {
  padding: $margin 0 2*$margin;
}

figcaption {
  padding: $margin-half 0;
  line-height: 1.42em;
  h2 {
    font-weight: $font-weight-medium;
    font-size: #{(18/$font-size-base)}rem;
  }
  p {
    font-weight: $font-weight-light;
  }
}
.thumb-video {
  position: relative;
  display: inline-block;
  z-index: 1;
  background: $color-gray-text image-url('btn-play.png') no-repeat scroll center center;
  img {
    @include opacity(0.25)
  }
}