@media only screen and (min-width: 320px) and (max-width: 776px) {

  body {
    padding-top: 89px;
  }
  .header.collapse-in {
    height: 89px;
  }

  %col-reset {
    width: 100%;
    float: none;

  }

  $i: 0;

  @while $i < $grid-cols {
    .#{$prefix-col}-#{$i + 1} {
      @extend %col-reset;
    }
    $i: $i + 1;
  }
  .foot-navs {
    text-align: center;
  }

  .fixed-top {
    position: fixed;
    background-color: rgba($color-black,0.85);
    line-height: 10vh;
  }

  .collapse {
    display: block;
  }
  .collapsed {
    background-color: rgba($color-black,0.85);
    position: fixed;
    top: 88px;
    left: 0;
    height: 0%;
    overflow: hidden;
  }
  .btn-social {
    @include box-sizing();
    width: 300px;
    margin-bottom: $margin;
  }
  .carousel-inner h1 {
    font-size: #{(36/$font-size-base)}rem;
  }
  .partners a {
    padding: 0;
  }
  .tabs a {
    height: 28px;
  }

  .nav-item {
    .nav-horizontal & {
      text-align: left;
      display: block;
      border-bottom: 1px solid $color-white;
    }
  }
  .nav-justify {
    border-bottom: 3px solid $color-white;
    padding: $margin 0;
    margin-top: 0;
    li {
      padding: 0 0;
    }
  }
  .foot-navs {
    padding: $margin 0;
    font-size: #{18/$font-size-base}rem;
    [class*="col-"] {
      padding: $margin-half;
    }
  }
  .nav-title {
    font-size: #{24/$font-size-base}rem;

  }
  .copy {
    @include flex-direction(column);
    text-align: center;
    line-height: 2em;
  }

}