.collapse {
  @extend .btn;
  display: none;
  position: absolute;
  right: $margin-half;
  top: $margin-half;
  background: transparent image-url('menu.png') no-repeat scroll center center;
  width: 40px;
  height: 40px;
  border: 2px solid $color-white;
  text-indent: -9999em;
  overflow: hidden;
}
.collapsed {
  @include transition(height 0.3s ease 0s);
  &.rollout {
    height: 100%;
  }
}
@import "desktop";
@import "tablet";
@import "mobile";