@media only screen and (min-width: 780px) and (max-width: 990px) {
  html {
    font-size: 13px;
  }
  .collapsed {
    width: 100% !important;
    float: left;
  }
  .text-right {
    text-align: left;
  }
  .header.collapse-in {
    height: 220px;
  }
  body {
    &.fixed {
      padding-top: 220px;
    }
  }

}

