.accounts {
  background-color: $color-gray-lighten;
  padding: 2*$margin 0 0;
}
.account {
  line-height: $line-heigth-base;
  display: none;
  &.active {
    display: block;
  }
  h3 {
    font-weight: $font-weight-light;
    font-size: #{(36/$font-size-base)}rem;
    padding: $margin 0;
  }
  p {
    margin-bottom: $margin;
    font-size: #{(18/$font-size-base)}rem;
    color: $color-gray-darken;
  }
  img {
    vertical-align: bottom;
  }
}