.nav-item {
  text-transform: uppercase;
  a {
    text-decoration: none;
    line-height: 1em;
    color: $color-white;
  }
  .nav-horizontal & {
    display: inline-block;
    padding: 0 $margin-half;
    position: relative;
    z-index: 1;
  }
  .btn {
    display: block;
    padding: $margin-half 0;
  }
}

.nav-justify {
  @extend %flex-row-between;
  margin-top: 0.8*$margin-half;
  li {
    @include box-sizing;
    width: span(6);
    padding: 0 0 0 $margin-half;
  }
}
.nav-foot {
  line-height: 1.5em;
  a {
    color: $color-white;
    &:hover {
      text-decoration: underline;
    }
  }
}