.header {
  @include transition(height 0.5s ease-in-out 0s);
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 9;
  .fixed & {
    position: fixed;
    top: 0;
  }
  &.collapse-in {
    height: 144px;
  }
}
.carousel {
  margin-bottom: $margin;
}

.carousel-inner {
  @extend %flex-col-center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: $color-white;
  h1 {
    font-size: #{(60/$font-size-base)}rem;
    line-height: 1.5em;
    padding-bottom: $margin;
  }
  small {
    display: block;
    font-size: #{(30/$font-size-base)}rem;
  }
  .btn {
    @include box-sizing;
    display: inline-block;
    padding: (0.75 * $margin) $margin;
    width: 250px;
    margin: 0 auto;
    font-size: #{(18/$font-size-base)}rem;

  }
}

.carousel-object {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  z-index: -1;
}
.carousel-btn {
  display: block;
  width: 100vw;
  border: none;
  background: transparent image-url('carousel-arrow.png') no-repeat scroll center center;
  height: 23px;
  position: absolute;
  bottom: 0;
  z-index: 11;
  .left,.right {
    background-color: $color-white;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 48.8vw;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}