/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'fontawesomeregular';
  src: url('#{$fa-font-path}/fontawesomeregular.otf');
  src: url('#{$fa-font-path}/fontawesomeregular.otf') format('otf'),
    url('#{$fa-font-path}/fontawesomeregular.woff') format('woff2'),
    url('#{$fa-font-path}/fontawesomeregular.woff') format('woff'),
    url('#{$fa-font-path}/fontawesomeregular.ttf') format('truetype'),
    url('#{$fa-font-path}/fontawesomeregular.svg') format('svg');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
