// Variables
// --------------------------

$fa-font-path:        "../fonts" !default;
$fa-font-size-base:   14px !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.3.0" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;





$fa-var-twitter: "\f099";
$fa-var-facebook: "\f09a";
$fa-var-linkedin: "\f0e1";
$fa-var-google: "\f1a0";
$fa-var-user: "\f007";
$fa-var-users: "\f0c0";
