// -------------------------------------------------------
// COLORS
// -------------------------------------------------------
// base colors
$color-black:                     #000000 !default;
$color-white:                     #ffffff !default;
$color-gray-light:                #BCBCBC !default;
$color-gray:                      #EDEDED !default;
$color-gray-lighten:              #F6F6F6 !default;
$color-gray-darken:               #747474 !default;
$color-gray-darker:               #404040 !default;
$color-gray-darkest:              #363636 !default;

$color-gray-text:                 #3e3e3e !default;
// brand colors
$color-brand:                     #02c9dc !default;
$color-brand-2:                   #0092bc !default;

$color-linkedin:                  #0075A4 !default;
$color-facebook:                  #3D6DA8 !default;

// -------------------------------------------------------
// FONTS
// -------------------------------------------------------
// - font sizes
$font-size-base:                  16 !default;
// line heights
$line-heigth-base:                #{(24 / $font-size-base)}em !default;

// font weights
$font-weight-light:               300 !default;
$font-weight-medium:              500 !default;
$font-weight-normal:              400 !default;
$font-weight-bold:                700 !default;
// font family
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
$font-family-base:                'Roboto', sans-serif !default;
//

// -------------------------------------------------------
// MARGINS
// -------------------------------------------------------
$margin:                          1.75rem !default;
$margin-half:                     0.45 * $margin !default;

// -------------------------------------------------------
// PADDINGS
// -------------------------------------------------------


// -------------------------------------------------------
// DIMENSIONS
// -------------------------------------------------------
$width-fix:                       1170px !default;
$width-full:                      100% !default;
$width-tablet:                    95% !default;

$height-page-header:              73px !default;


// -------------------------------------------------------
// PREFIXES
// -------------------------------------------------------
$prefix-col:                      "col" !default;
$prefix-js:                       "js" !default;


// -------------------------------------------------------
// RESOLUTIONS
// -------------------------------------------------------
// - break points
$breakpoint-desktop:              $width-fix !default;
$breakpoint-tablet:               760px !default;


// -------------------------------------------------------
// GRID SETTINGS
// -------------------------------------------------------
// - base grid settings
$grid-cols:                       12 !default;
$grid-offsets:                    1/2 !default;
// - susy grid constructor
$susy: (
    columns: $grid-cols,
    gutters: $grid-offsets,
    math: fluid,
    output: float,
    gutter-position: after,
    debug: (image:show)
);