.footer {
  background-color: $color-gray-darker;
  color: $color-white;
  font-size: #{(14/$font-size-base)}rem;
}
.foot-navs {
  padding: 3*$margin 0 $margin-half;
  border-bottom: 1px solid $color-gray-darken;
}
.ssl {
  line-height: 2em;
  font-size: #{(12/$font-size-base)}rem;
}
.foot-info {
  padding: $margin 0;
}
.foot-conditions {
  background-color: $color-gray-darkest;
}