.fixed-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: $margin;
  height: 64px;
  line-height: 64px;
  z-index: 10;
  .fixed & {
    position: fixed;
  }
}
.flex-row-between {
  @extend %flex-row-between;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
