html {
  font-size: #{$font-size-base}px;
}
body {
  font-size: #{($font-size-base/$font-size-base)}rem;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  color: $color-gray-darken;
  overflow-x: hidden;
  &.fixed {
    padding-top: 144px;
  }
}
a {
  text-decoration: none;
}
.wrapper {
  width: $width-fix;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.img-responsive {
  max-width: 100%;
  vertical-align: bottom;
  display: inline-block;
}
.img-full {
  @extend .img-responsive;
  width: 100%;
}
.hero-unit {
  text-transform: uppercase;
  font-size: #{(18/$font-size-base)}rem;
  min-width: 200px;
  padding: 0.3*$margin-half;
  background-color: $color-gray-light;
  color: $color-white;
  display: inline-block;
}

aside {
  float: left;
  padding: 0 0.75*$margin-half 0 0;
}
.grayscale {
  img {
    @include transition(opacity 0.2 linear 0s);
    @include opacity(0.5);
    @include filter(grayscale(100%));
    filter: gray; /* IE6-9 */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  }
  &:hover img {
    @include filter(grayscale(0%));
    filter: none;
    @include opacity(1);
  }
}
.copy {
  @extend %flex-row-between;
  font-weight: $font-weight-bold;
  padding: $margin 0 0;
}
