.section-title {
  font-size: #{(36/$font-size-base)}rem;
  font-weight: $font-weight-light;
  text-transform: uppercase;
}
.nav-title {
  font-weight: $font-weight-bold;
  font-size: #{(14/$font-size-base)}rem;
  margin-bottom: $margin-half;
  text-transform: uppercase;
}
