<section class="accounts text-center">
    <h2 class="hero-unit">account types</h2>
    <div class="row wrapper" n:inner-foreach="$account['accounts'] as $item">
        <div n:class="$iterator->counter == 1 ? 'active' , 'account'" id="account-{$iterator->counter}">
            <h3>{$item['title']}</h3>
            <p>{!$item['perex']}</p>
            <img src="{$basePath}/images/{$item['image']}" alt="{$item['title']}" class="img-responsive" />
        </div>
    </div>

    <div class="tab-navbar">
        <ul class="tabs wrapper" n:inner-foreach="$account['accounts'] as $item">
            <li n:class="$iterator->first ? 'active'">
                <a href="#" title="{$item['tab']}">
                    {$item['tab']}
                </a>
            </li>
        </ul>
    </div>
</section>