<div class="header js-header">
    <div class="carousel">
        <div class="carousel-inner">
            <h1>{$header['title']}
                <small>{$header['perex']}</small>
            </h1>
            <a class="btn btn-colorize" href="{$header['link']['href']}" title="{$header['link']['title']}">
                {$header['link']['title']}
            </a>
            <img class="carousel-object" alt="..." src="{$basePath}/images/header-slider-1.jpg" />
        </div>
        <button class="btn carousel-btn" id="carousel-btn" data-timeout="500"><span class="right"></span><span class="left"></span></button>
    </div>
</div>