<section class="networks text-center">

    <h2 class="section-title">{$networks['title']}</h2>
    <p>{$networks['perex']}</p>
    <div class="wrapper row" n:inner-foreach="$networks['links'] as $item">
        <a href="{$item['link']}" title="{$item['alt']}" n:class="$iterator->first ? 'linkedin' : 'facebook' , 'btn btn-social'" >
            {$item['alt']}
        </a>
    </div>
</section>