<section class="partners text-center">
    <h2 class="hero-unit">we've been featured in</h2>
    <div class="wrapper row partners-bar" n:inner-foreach="$partners['partner'] as $item">
        <a href="{$item['link']}" target="_blank" title="{$item['title']}" n:class="$iterator->last ? 'col-last' , 'col-2'">
            <img class="img-responsive" src="{$basePath}/images/partners/{$item['image']}" alt="{$item['title']}" />
        </a>
    </div>
</section>