<div class="thumbnails">
    <div class="wrapper row">

        {foreach $video['videos'] as $item}
            <figure n:class="$iterator->counter %3 == 0 ? 'col-last' , 'col-4 text-center'">
                {if $item['code'] != ''}
                <a class="thumb-video" href="http://www.youtube.com/embed/{$item['code']}?autoplay=1" title="{$item['title']}">
                    {*<img src="http://img.youtube.com/vi/{$item['code']}/mqdefault.jpg" class="img-full" alt="{$item['title']}" />*}
                    <img src="{$basePath}/images/{$item['thumb']}" class="img-responsive" alt="{$item['title']}" />
                </a>
                {else}
                    <img src="{$basePath}/images/{$item['thumb']}" class="img-responsive" alt="{$item['title']}" />
                {/if}
                <figcaption>
                    <h2>{$item['title']}</h2>
                    <p>
                        {$item['text']}
                    </p>
                </figcaption>
            </figure>
        {/foreach}

    </div>
</div>