<!DOCTYPE html>
<html>
<head>
    <title>{$meta['title']}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=320, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{$meta['description']}"/>
    <meta name="keywords" content="{$meta['keywords']}"/>
    <meta name="robots" content="noindex,nofollow,noodp">
    <meta name="author" content="Martin Scheer">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    <link href="{$basePath}/css/screen.css" rel='stylesheet' type='text/css'>
</head>
<body>

{include '_navigation.latte'}
{block content}{/block}
{include '_footer.latte'}


{block scripts}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="{$basePath}/js/app.pack.js" type="text/javascript"></script>
{/block}

</body>
</html>