<footer class="footer">
    <div class="wrapper foot-navs row">
        <div class="col-3">
            <a href="/" title="katipult.com" class="grayscale">
                <img src="{$basePath}/images/logo-katipult.png" alt="katipult.com"  />
            </a>
        </div>

        <div class="col-2">
            <h3 class="nav-title">Menu</h3>
            <ul class="nav-foot" n:inner-foreach="$footer[menu] as $item">
                <li>
                    <a href="{$item['link']}" title="{$item['title']}">{$item['title']}</a>
                </li>
            </ul>
        </div>

        <div class="col-2">
            <h3 class="nav-title">Legal & Support</h3>
            <ul class="nav-foot" n:inner-foreach="$footer['legal'] as $item">
                <li>
                    <a href="{$item['link']}" title="{$item['title']}">{$item['title']}</a>
                </li>
            </ul>
        </div>

        <div class="col-2">
            <h3 class="nav-title">{$footer['getin']['menu-title']}</h3>
            <ul class="nav-foot">
                <li>{$footer['getin']['email']}</li>
                <li>{$footer['getin']['cell']}</li>
            </ul>
        </div>

        <div class="col-3 col-last">
            <h3 class="nav-title">Connect</h3>
            <ul class="nav-foot horiz" n:inner-foreach="$footer['connect'] as $item">
                <li>
                    <a href="{$item['link']}" title="{$item['title']}" class="{$item['class']}" ><span>{$item['title']}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row wrapper foot-info">
        <div class="col-5 col-last">
            <aside>
                <img src="{$basePath}/images/logo-digicert.png" alt="Certificates with Strong Encryption & Authentication" />
            </aside>
            <p class="ssl">
                {$footer['ssl']}
            </p>
        </div>
    </div>

    <div class="foot-conditions foot-info">
        <p class="ssl wrapper">
            {$footer['cond']}
        </p>
        <p class="wrapper copy">
            <span>&copy; {date('Y')} Katipult, all rights reserverd.</span>
            <span>Powered by Katipult</span>
        </p>
    </div>
</footer>