<nav role="navigation" class="fixed-top">
    <div class="wrapper row">
        <button class="collapse js-collapse" data-target="collapsed" type="button" >show/hide menu</button>

        <a href="/" class="brand col-3" title="{$navigation['brand']['alt']}">
            <img src="{$basePath}/images/{$navigation['brand']['logo']}" alt="{$navigation['brand']['alt']}"/>
        </a>
        <div class="collapsed col-9 col-last">

            <ul class="col-4 col-last nav-justify" n:inner-foreach="$navigation['user'] as $item">
                <li class="nav-item" >
                    <a n:class="$iterator->counter == 1 ? 'btn-transparent' : 'btn-colorize' , 'btn'" href="{$item['href']}" title="{$item['title']}">
                        {$item['title']}
                    </a>
                </li>
            </ul>

            <ul class="col-8 nav-horizontal text-right" n:inner-foreach="$navigation['menu'] as $item">
                <li class="nav-item" >
                    <a href="{$item['href']}" title="{$item['title']}">
                        {$item['title']}
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>