@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  margin-right: 2.85714%;
}

.row {
  *zoom: 1;
  width: 100%;
  position: relative;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.copy, .flex-row-between, .nav-justify {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.carousel-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.col-1 {
  width: 5.71429%;
}

.col-2 {
  width: 14.28571%;
}

.col-3 {
  width: 22.85714%;
}

.col-4 {
  width: 31.42857%;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 48.57143%;
}

.col-7 {
  width: 57.14286%;
}

.col-8 {
  width: 65.71429%;
}

.col-9 {
  width: 74.28571%;
}

.col-10 {
  width: 82.85714%;
}

.col-11 {
  width: 91.42857%;
}

.col-12 {
  width: 100%;
}

.col-last {
  margin-right: 0;
  border-right: none !important;
  float: right;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #747474;
  overflow-x: hidden;
}
body.fixed {
  padding-top: 144px;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.img-responsive, .img-full {
  max-width: 100%;
  vertical-align: bottom;
  display: inline-block;
}

.img-full {
  width: 100%;
}

.hero-unit {
  text-transform: uppercase;
  font-size: 1.125rem;
  min-width: 200px;
  padding: 0.23625rem;
  background-color: #BCBCBC;
  color: #ffffff;
  display: inline-block;
}

aside {
  float: left;
  padding: 0 0.59062rem 0 0;
}

.grayscale img {
  -moz-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE6-9 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
}
.grayscale:hover img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.copy {
  font-weight: 700;
  padding: 1.75rem 0 0;
}

.fixed-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 1.75rem;
  height: 64px;
  line-height: 64px;
  z-index: 10;
}
.fixed .fixed-top {
  position: fixed;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.nav-item {
  text-transform: uppercase;
}
.nav-item a {
  text-decoration: none;
  line-height: 1em;
  color: #ffffff;
}
.nav-horizontal .nav-item {
  display: inline-block;
  padding: 0 0.7875rem;
  position: relative;
  z-index: 1;
}
.nav-item .btn, .nav-item .collapse {
  display: block;
  padding: 0.7875rem 0;
}

.nav-justify {
  margin-top: 0.63rem;
}
.nav-justify li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 48.57143%;
  padding: 0 0 0 0.7875rem;
}

.nav-foot {
  line-height: 1.5em;
}
.nav-foot a {
  color: #ffffff;
}
.nav-foot a:hover {
  text-decoration: underline;
}

.btn, .collapse {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
}
.btn:focus, .collapse:focus {
  outline-style: none;
}

.btn-transparent {
  border: 1px solid #ffffff;
}

.btn-colorize, .tabs li.active {
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #02c9dc;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF02C9DC', endColorstr='#FF0092BC');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyYzlkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTJiYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #02c9dc), color-stop(100%, #0092bc));
  background-image: -moz-linear-gradient(top, #02c9dc 0%, #0092bc 100%);
  background-image: -webkit-linear-gradient(top, #02c9dc 0%, #0092bc 100%);
  background-image: linear-gradient(to bottom, #02c9dc 0%, #0092bc 100%);
  border-style: solid;
  border-color: #14e9fd transparent #0092bc transparent;
  border-width: 1px;
}

.btn-social {
  display: inline-block;
  padding: 1.1375rem 3.5rem;
  margin: 0 1.40845%;
}
.btn-social.linkedin {
  background-color: #0075A4;
}
.btn-social.facebook {
  background-color: #3D6DA8;
}

.thumbnails {
  padding: 1.75rem 0 3.5rem;
}

figcaption {
  padding: 0.7875rem 0;
  line-height: 1.42em;
}
figcaption h2 {
  font-weight: 500;
  font-size: 1.125rem;
}
figcaption p {
  font-weight: 300;
}

.thumb-video {
  position: relative;
  display: inline-block;
  z-index: 1;
  background: #3e3e3e url('/images/btn-play.png') no-repeat scroll center center;
}
.thumb-video img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}

.tab-navbar {
  background-color: #EDEDED;
  z-index: 1;
  position: relative;
}

.tabs {
  *zoom: 1;
  -moz-box-shadow: 0 -24px 16px -16px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -24px 16px -16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 -24px 16px -16px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-bottom: 2px solid #0092bc;
}
.tabs:after {
  content: "";
  display: table;
  clear: both;
}
.tabs li {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
  float: left;
  width: 50%;
  padding: 0.7875rem 0;
}
.tabs li.active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transform: scale(1, 1.1);
  -ms-transform: scale(1, 1.1);
  -webkit-transform: scale(1, 1.1);
  transform: scale(1, 1.1);
  position: relative;
  top: -0.07875rem;
}
.tabs li.active a {
  color: #ffffff;
}
.tabs a {
  display: block;
  text-transform: uppercase;
  color: #747474;
}

.header {
  -moz-transition: height 0.5s ease-in-out 0s;
  -o-transition: height 0.5s ease-in-out 0s;
  -webkit-transition: height 0.5s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: height 0.5s ease-in-out 0s;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 9;
}
.fixed .header {
  position: fixed;
  top: 0;
}
.header.collapse-in {
  height: 144px;
}

.carousel {
  margin-bottom: 1.75rem;
}

.carousel-inner {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
.carousel-inner h1 {
  font-size: 3.75rem;
  line-height: 1.5em;
  padding-bottom: 1.75rem;
}
.carousel-inner small {
  display: block;
  font-size: 1.875rem;
}
.carousel-inner .btn, .carousel-inner .collapse {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 1.3125rem 1.75rem;
  width: 250px;
  margin: 0 auto;
  font-size: 1.125rem;
}

.carousel-object {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  z-index: -1;
}

.carousel-btn {
  display: block;
  width: 100vw;
  border: none;
  background: transparent url('/images/carousel-arrow.png') no-repeat scroll center center;
  height: 23px;
  position: absolute;
  bottom: 0;
  z-index: 11;
}
.carousel-btn .left, .carousel-btn .right {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 48.8vw;
}
.carousel-btn .left {
  left: 0;
}
.carousel-btn .right {
  right: 0;
}

.accounts {
  background-color: #F6F6F6;
  padding: 3.5rem 0 0;
}

.account {
  line-height: 1.5em;
  display: none;
}
.account.active {
  display: block;
}
.account h3 {
  font-weight: 300;
  font-size: 2.25rem;
  padding: 1.75rem 0;
}
.account p {
  margin-bottom: 1.75rem;
  font-size: 1.125rem;
  color: #747474;
}
.account img {
  vertical-align: bottom;
}

.partners {
  padding: 3.5rem 0;
}
.partners a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0s;
  -webkit-transition: opacity 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s linear 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
  line-height: 64px;
  padding: 0 1.75rem;
}
.partners a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.partners-bar {
  padding: 3.5rem 0 1.75rem 0;
}

.networks {
  color: #ffffff;
  padding: 5.25rem 0;
  background: #363636 url('/images/bcg-discover.png') no-repeat scroll center -55px;
  background-size: 50% auto;
}
.networks p {
  padding: 1.75rem 0 2.625rem;
  font-size: 1.125rem;
}

.footer {
  background-color: #404040;
  color: #ffffff;
  font-size: 0.875rem;
}

.foot-navs {
  padding: 5.25rem 0 0.7875rem;
  border-bottom: 1px solid #747474;
}

.ssl {
  line-height: 2em;
  font-size: 0.75rem;
}

.foot-info {
  padding: 1.75rem 0;
}

.foot-conditions {
  background-color: #363636;
}

.section-title {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-title {
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 0.7875rem;
  text-transform: uppercase;
}

.collapse {
  display: none;
  position: absolute;
  right: 0.7875rem;
  top: 0.7875rem;
  background: transparent url('/images/menu.png') no-repeat scroll center center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  text-indent: -9999em;
  overflow: hidden;
}

.collapsed {
  -moz-transition: height 0.3s ease 0s;
  -o-transition: height 0.3s ease 0s;
  -webkit-transition: height 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: height 0.3s ease 0s;
}
.collapsed.rollout {
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .wrapper {
    width: 95%;
  }

  .networks {
    background-size: auto;
  }
}
@media only screen and (min-width: 780px) and (max-width: 990px) {
  html {
    font-size: 13px;
  }

  .collapsed {
    width: 100% !important;
    float: left;
  }

  .text-right {
    text-align: left;
  }

  .header.collapse-in {
    height: 220px;
  }

  body.fixed {
    padding-top: 220px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 776px) {
  body {
    padding-top: 89px;
  }

  .header.collapse-in {
    height: 89px;
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    width: 100%;
    float: none;
  }

  .foot-navs {
    text-align: center;
  }

  .fixed-top {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    line-height: 10vh;
  }

  .collapse {
    display: block;
  }

  .collapsed {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 88px;
    left: 0;
    height: 0%;
    overflow: hidden;
  }

  .btn-social {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 1.75rem;
  }

  .carousel-inner h1 {
    font-size: 2.25rem;
  }

  .partners a {
    padding: 0;
  }

  .tabs a {
    height: 28px;
  }

  .nav-horizontal .nav-item {
    text-align: left;
    display: block;
    border-bottom: 1px solid #ffffff;
  }

  .nav-justify {
    border-bottom: 3px solid #ffffff;
    padding: 1.75rem 0;
    margin-top: 0;
  }
  .nav-justify li {
    padding: 0 0;
  }

  .foot-navs {
    padding: 1.75rem 0;
    font-size: 1.125rem;
  }
  .foot-navs [class*="col-"] {
    padding: 0.7875rem;
  }

  .nav-title {
    font-size: 1.5rem;
  }

  .copy {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    line-height: 2em;
  }
}
